<header>
  <button (click)="onClickLogo()">LOGO</button>
  <nav>
    <ul>
      <li><a href="https://www.netflix.com/browse" target="_blank">Nos produits</a></li>
      <li><a href="#">Contacts</a></li>
      <li><a href="#">Aide</a></li>
    </ul>
  </nav>
</header>
<main>
  <section id="h1-parent">
    <h1 id="test">Mon gros titre</h1>
    <img src="https://fr.m.wikipedia.org/wiki/Fichier:Flag_of_Palestine.svg" alt="Palestine">
  </section>
  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem, exercitationem nemo nihil perspiciatis
      qui ullam voluptates voluptatum. Ab aliquam commodi cum dignissimos est fuga fugit officia omnis ratione
      voluptatibus.</p>
  </section>
  <section>
    <ul>
      <li>com</li>
      <li>com</li>
      <li>com</li>
      <li>com</li>
      <li>com</li>
      <li>com</li>
    </ul>
  </section>
  <section>
    <img
      src="https://fr.freepik.com/vecteurs-libre/vector-cartoon-illustration-design-fast-food-restaurant-menu_1215910.htm#query=menu%20pizza&position=0&from_view=keyword"
      alt="Menu pizza">
  </section>
</main>
<footer>
  <p>contact: 0509554341</p>
  <p>copyright tout droit reservés</p>
</footer>
